

.profile {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0,0,0,.5);
}

.profile img {
  width: 100%;
  
}
/*.view {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  color: #262626;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  height: ;
  transition: .5s;
  bottom: -10%;

}
.profile:hover .view {
  transition: .5s;
  bottom: 10%;
}*/


.details {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .5s;
  transform-origin: top;
  transform: perspective(500px) scale(0);
}

.profile:hover .details {
  bottom: 0;
  transform: perspective(500px) scale(1);
}

.details h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.details h2 span {
  font-size: 14px;
  color: #fff;
}

.details p {
  margin: 0;
  opacity: 1;
  padding: 10px 0 0;
  font-size: 14px;
  color: #fff;
}



.details ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.details ul li {
  list-style: none;
  font-size: 20px;
  width: 33.3%;
}

.details ul li:nth-child(1) .fa {
  color: #fff;
}

.details ul li:nth-child(2) .fa {
  color: #fff;
}

.details ul li:nth-child(3) .fa {
  color: #fff;
}

