/* CSS Documents */
.carousel-iner{
	height: 100px;
}
.carousel-caption {
	top:50%;
}
.carousel img{
	height: 500px;
}

.best-card{
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 19%, rgba(102,102,102,1) 27%, rgba(71,71,71,1) 36%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 59%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(15%, rgba(102,102,102,1)), color-stop(19%, rgba(89,89,89,1)), color-stop(27%, rgba(102,102,102,1)), color-stop(36%, rgba(71,71,71,1)), color-stop(54%, rgba(44,44,44,1)), color-stop(59%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 19%, rgba(102,102,102,1) 27%, rgba(71,71,71,1) 36%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 59%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 19%, rgba(102,102,102,1) 27%, rgba(71,71,71,1) 36%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 59%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 19%, rgba(102,102,102,1) 27%, rgba(71,71,71,1) 36%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 59%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 19%, rgba(102,102,102,1) 27%, rgba(71,71,71,1) 36%, rgba(44,44,44,1) 54%, rgba(17,17,17,1) 59%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
	border: none;
	color: white;
}

.best-card .card-title {
	font-size: 25px;
}

.media-background {
	font-size: 80px;
	padding: 10px 30px;
}

.no-padding-margin {
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

.blue-line {
	width: 100%;
	height: 3px;
	background-color: deepskyblue;
}

.help {
	background-image: url(../img/img13.jpg);
	background-position: center-top;
	background-repeat: no-repeat;
}

footer {
	background-color: #454749;
	color: #93C9DA;
}

.footer-media {
	background-color: #4C4D4E;
}

.footer-media i {
	padding: 20px 20px;
}
